---
import type { BlogPostRecord } from '../../lib/blog/tree';

interface Props {
  post: BlogPostRecord;
}

const { post } = Astro.props as Props;
---

<header class="post-header">
  <h1>{post.displayTitle}</h1>
</header>
